.container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.aside {
  height: 100%;
  width: 300px;

  float: left;
}