.notes {
  height: 50%;
  overflow-y: scroll;
  position: relative;
}
.notes-head {
  font-size: 16px;
  padding-left: 10px;
  background: #eee;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}
.notes-small {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
}
.notes-item {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;

  border-bottom: 1px solid #eee;

  line-height: 30px;
}