.notes {
  height: 52%;
  position: relative;
}
.notes-head {
  font-size: 16px;
  padding-left: 10px;
  background: #f7f7f7;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
.notes-small {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
}
.notes-content {
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  padding-top: 40px;
}
.notes-item {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;

  border-bottom: 1px solid #eee;

  line-height: 30px;
}
.notes-item-active {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;

  border-bottom: 1px solid #eee;

  line-height: 30px;
  background-color: #eee;
}