.container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.aside {
  height: calc(100% - 60px);
  width: 250px;

  float: left;
}
.content {
  margin-left: 250px;
  height: calc(100% - 60px);
}